body {
    background-color: black;
    background-blend-mode: overlay;
    padding: 20px 20px;
    color: green;
}

.outer-form {
    width: 100%;
    height: 100%;
    margin: 10% auto;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;

}
.inner-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 10px;
    margin: 60px auto 10px auto;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

label {
    width: 160px;
    font-weight: bold;
    text-align: center;
}

input {
    background-color: white;
    border-radius: 0.5rem;
    padding: 6px 12px;
}

button {
    border: green 2px solid;
    color: white;
    margin-bottom: 26px;
    padding: 12px 6px;
    border-radius: 1rem;
    overflow: hidden;
}

button:hover {
    color: black;
    background-color: whitesmoke;
    font-weight: bolder;
    letter-spacing: 5px;
}